<div class="flex flex-row mt-2">

  <div class="flex flex-column gap-3 pr-5" style="flex:1">

    <div class="flex flex-row">
      <span class="p-float-label flex flex-1">
        <input class="w-full" pInputText [(ngModel)]="challenge.className" (ngModelChange)="changeCode()" field="field" required>
        <label>Nombre de la Clase*</label>
      </span>
    </div>

    <div>
      <span class="p-float-label flex flex-1">
        <input class="w-full" pInputText [(ngModel)]="challenge.functionName" (ngModelChange)="changeCode()" field="field" required>
        <label>Nombre del Método*</label>
      </span>
    </div>

    <div>
      <h3>Parámetro de retorno</h3>
      <span class="p-float-label flex flex-1">
        <p-dropdown [(ngModel)]="parameterOut.parameterType" (ngModelChange)="changeCode()" [options]="listParameters" optionLabel="name" appendTo="body" [showClear]="false" [style]="{width:'125px'}">
        </p-dropdown>
        <label>Tipo*</label>
      </span>
    </div>

    <div>
      <h3>Parámetros de entrada</h3>
      <div class="flex flex-column gap-3 pr-3" style="height: calc(100vh - 550px); overflow: auto">
        <div *ngFor="let parameter of parametersIn; index as i;" class="flex flex-row gap-3">
            <span class="p-float-label flex">
              <p-dropdown [(ngModel)]="parameter.parameterType" (ngModelChange)="changeCode()" [options]="listParameters" optionLabel="name" appendTo="body" [showClear]="false" [style]="{width:'125px'}">
              </p-dropdown>
              <label>Tipo*</label>
            </span>

            <span class="p-float-label flex flex-1">
              <input class="w-full" pInputText [(ngModel)]="parameter.name" (ngModelChange)="changeCode()" field="field" required>
              <label>Nombre*</label>
            </span> 
            
            <div class="flex flex-row gap-3" *ngIf="i === parametersIn.length - 1">
              <p-button *ngIf="i > 0" styleClass="p-button-rounded p-button-outlined p-button-secondary" icon="pi pi-minus" (click)="deleteParameter(parameter)"></p-button>
              <p-button styleClass="p-button-rounded p-button-outlined p-button-primary" icon="pi pi-plus" (click)="addParameter()"></p-button>
            </div>                        
        </div>
      </div>
    </div>

  </div>

  <div style="flex:2">
    <div
      class="app-ace-editor" #editor style="width: 100%;height: calc(100vh - 275px)"></div>
  </div>  
</div>