<div class="screen-container">
    <div class="container">
        <div class="header">
            <div>
                <h1>Edición de reto</h1>
            </div>
            <div class="float-left">
                <button secondary mat-button>Volver</button>&nbsp;&nbsp;
                <button primary mat-button>Guardar</button>
            </div>
        </div>

        <mat-tab-group id="tabs" color="primary">
            
            <mat-tab label="General" tabindex="0">
                <app-challenge-edit-general [challenge]="challenge">
                </app-challenge-edit-general>
            </mat-tab>            
            
            <mat-tab label="Código" tabindex="1">
                <app-challenge-edit-code [challenge]="challenge">
                </app-challenge-edit-code>
            </mat-tab>

            <mat-tab label="Pruebas" tabindex="2">
                <app-challenge-edit-test [challenge]="challenge">
                </app-challenge-edit-test>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>