<div class="flex flex-row">
    <div class="flex flex-column gap-2">
        <div class="flex flex-row">
            <span class="p-float-label flex flex-1">
                <input pInputText [(ngModel)]="challenge.className" field="field" required>
                <label>Nombre de la Clase*</label>
            </span>
        </div>
        <div class="mt-2">
            <span class="p-float-label flex flex-1">
                <input pInputText [(ngModel)]="challenge.functionName" field="field" required>
                <label>Nombre del Método*</label>
            </span>
        </div>

    </div>
</div>