@import './src/assets/scss/master';

$status-line-width: 12px;
$icon-size: 12px;

.wrapper {
    display: block;
    width: auto;
    height: 100%;
  
    .main-container {
      display: flex;
      padding: 0px;
      position: relative;
      height: 100%;
      flex-direction: row;
  
      border: 1px solid $border-color;
      border-left: 0;
      border-radius: 0px 5px 5px 0px;    
  
      .status {
        top: auto;
        left: auto;
        width: $status-line-width;
        height: auto;
        border-radius: 4px 0 0 4px;
        background-color: #4BB543;
      }
  
      .card-container {
        padding: 12px;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        
  
        .title {
          font-size: 16px !important;
          white-space: pre-wrap;
          margin-bottom: 10px !important;
        }
  
  
        .card-chips {
          display: flex;
          flex-direction: column;
          height: fit-content;
  
          &.lg {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
          }
  
          .row {
            display: flex;
  
            justify-content: flex-start;
            flex-wrap: wrap;
  
            &.tags {
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: flex-start;
            }
          }
  
          .scroll {
            cursor: grab;
  
            &:active {
              cursor: grabbing;
              pointer-events: auto !important;
            }
          }
        }      
      }
  
      .card-buttons {
        width: 310px;
        padding: 0 20px 0 0 !important;
        margin: 0;
        align-self: center;
        text-align: end;
      }
    }
  
  }
  
  