<div class="flex flex-row mt-2">
    
    <div class="flex flex-column gap-2 pr-5" style="flex:1;">
        <div class="flex flex-row gap-3">
            <span class="p-float-label flex flex-1">
                <input class="w-full" pInputText [(ngModel)]="challenge.name" field="field" required>
                <label>Nombre del reto*</label>
            </span>
        </div>

        <div>
            <p-panel class="no-header">
                <p-dropdown class="mt-2" #dropdownTags placeholder="Selecciona un tag" [options]="listTags" optionLabel="name" [style]="{width:'100%', margin: '10 0 0 0'}" (onChange)="onChangeTag($event);"></p-dropdown>

                <p-table [value]="selectedTags" [style]="{width:'100%', height: '200px'}" [autoLayout]="true">
                    <ng-template pTemplate="header">

                    </ng-template>
                    <ng-template pTemplate="body" let-tag>
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>
                                <button pButton icon="pi pi-trash" (click)="removeTag(tag)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </div>

        <span class="field-checkbox">
            <p-checkbox labelStyleClass="cursor-pointer" [(ngModel)]="challenge.tries" [binary]="true" inputId="binary"
                label="Se permite más de un intento"></p-checkbox>
        </span>
    </div>

    <div style="flex:2;">
        <p-editor [(ngModel)]="challenge.description" [style]="{ height: 'calc(100vh - 315px)'}"></p-editor>
    </div>
</div>