<div class="tab-container">

    <div class="row-container">
        


        <div class="column-container first">

            <mat-form-field class="name" appearance="legacy">
                <mat-label>Nombre del reto</mat-label>
                <input matInput [(ngModel)]="this.challenge.name" required matInput placeholder="Nombre del reto" />
                <mat-error>El campo no puede estar vacío</mat-error>
            </mat-form-field>

            <mat-form-field class="chipChallenge-list">
                <mat-label>Tags del reto</mat-label>
                <mat-chip-list #chipList aria-label="Tags selection">
                    <mat-chip *ngFor="let option of this.challenge.tags" selectable="true" removable="true" (removed)="removeTag(option)">
                        {{ option.name }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input class="selector" placeholder="Nueva etiqueta..." #tagInput type="button" required [matAutocomplete]="tagList" [formControl]="tagCtrl"/>
                </mat-chip-list>

                <mat-autocomplete #tagList="matAutocomplete" (optionSelected)="addTag($event)">
                    <ng-container *ngFor="let option of filteredTags">
                        <mat-option [value]="option">
                            {{ option.name }} 
                        </mat-option>
                    </ng-container>                       
                </mat-autocomplete>
            </mat-form-field>

            <mat-checkbox class="tries-checkbox" [(ngModel)]="this.challenge.multipleTries">
                Más de un intento
            </mat-checkbox>

        </div>

        <div class="column-container last">
            <mat-label style="padding-bottom: 15px;">Descripción</mat-label>
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu 
                    [editor]="editor"
                    [toolbar]="toolbar"></ngx-editor-menu>
                    
                <ngx-editor
                    [editor]="editor"                  
                    [(ngModel)]="this.challenge.description"
                    [disabled]="false"
                    [placeholder]="'Escribe la descripción del problema...'"></ngx-editor>
            </div>
        </div>
    </div>
</div>