@import './src/assets/scss/master';

.tab-container {    
    height: calc(100vh - 240px);
    overflow: hidden;

}

.first {
    height: calc(100vh - 270px);
    flex: 1;
    padding: 25px 15px 15px 0px;
}

.last {
    height: calc(100vh - 270px);
    flex: 2;
    padding: 25px 0px 15px 15px;

    mat-label {
        height: 25px;
    }

    .NgxEditor__Wrapper {
        flex: 1;

        border: 1px solid $primary;
        border-radius: 2px;
    }
}

:host::ng-deep {
    .NgxEditor {
        height: calc(100vh - 340px) !important;
        overflow: auto !important;
    }

    svg {
        fill: $dark;
    }
}

.name {
    max-width: 600px;
}

.tries-checkbox {
    width: 175px;
    padding: 25px 0px 25px 0px;
}

.chipChallenge-list {
    max-width: 600px;
}

.selector {
    flex: 1;
    height: 2.5em;
    border-width: 0px;
    background-color: inherit;
    &:hover {
      cursor: pointer;
    }
}

.selector:focus {
    outline: 0px;
}

mat-chip {
    margin: 0px !important;
}

