<div class="column-container" style="height: 100%">

    <h1>Activar de reto: {{challenge.name}}</h1>

    <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Validaciones del reto</mat-label>
        <textarea style="resize: none;" rows="22" matInput [readonly]="true">{{errors}}</textarea>
    </mat-form-field>
    

    <h3 *ngIf="!this.valid">El reto no puede activarse ya que tiene problemas de validación</h3>

    <div class="flex"></div>

    <div class="button-container float-left">
        <button secondary mat-button (click)="no()">Volver</button>&nbsp;&nbsp;
        <button *ngIf="this.valid" primary mat-button (click)="yes()">Activar</button>
    </div>
</div>


<div class="loadWrapper" *ngIf="isloading">
  <mat-spinner></mat-spinner>
</div>