@import './src/assets/scss/master';

.header {
  height: 50px;
}

.filter {
  width: 60%;
  height: 80px !important;

  mat-form-field {
    width: 100%;
  }

  .icono-filter {
    position: relative;
    top: 5px;
  }
}



.challengeList {
  flex: 1;
  margin-top: 25px;
  overflow: auto;


  .card-group {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 40px;
  }
}