<div class="screen-container">
  <div class="container">
    <div class="header">
      <div>
        <h1>Gestión de retos</h1>
      </div>
      <div class="float-left">
        <button primary mat-button routerLink="/challenge-edit">Crear reto</button>
      </div>
    </div>

    <div class="filter">
      <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input matInput name="filter" [(ngModel)]="filter" matInput placeholder="Filtrar" />
        <span class="icono-filter" matPrefix><mat-icon class="icon" matSuffix>search</mat-icon>&nbsp;</span>        
      </mat-form-field>
    </div>

    <div class="challengeList">
      <div *ngFor="let challenge of challenges" class="card-group">
        <app-challenge-item-list [challenge]="challenge" (eventEmitter)="receiveEvent($event)"></app-challenge-item-list>
      </div>
      <h2 class="mat-h2" *ngIf="challenges == null || challenges.length == 0">No has creado ningún reto todavía.</h2>
    </div>
  </div>
</div>

<div class="loadWrapper" *ngIf="isloading">
  <mat-spinner></mat-spinner>
</div>