<div class="tab-container">

    <div class="row-container">
        
        <div class="column-container first">

            <mat-form-field class="input" appearance="legacy">
                <mat-label>Nombre de la Clase</mat-label>
                <input matInput [(ngModel)]="this.challenge.className" required matInput placeholder="Nombre de la Clase" (ngModelChange)="changeCode()"/>
                <mat-error>El campo no puede estar vacío</mat-error>
            </mat-form-field>

            <mat-form-field class="input" appearance="legacy">
                <mat-label>Nombre del Método</mat-label>
                <input matInput [(ngModel)]="this.challenge.functionName" required matInput placeholder="Nombre del Método" (ngModelChange)="changeCode()"/>
                <mat-error>El campo no puede estar vacío</mat-error>
            </mat-form-field>

            <mat-label class="padding-top">Parámetro de retorno</mat-label>
            <div class="row-container">
                <mat-form-field style="width: 100px;padding-right: 25px;">
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)]="this.challenge.outParameter.type" required placeholder="Tipo" (selectionChange)="changeParameter()">
                        <mat-option *ngFor="let type of types" [value]="type.code">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-label class="padding-top">Parámetros de entrada</mat-label>
            <div *ngFor="let item of this.challenge.inParameter; let last = last" class="row-container">
                <mat-form-field style="width: 100px;padding-right: 25px;">
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)]="item.type" required placeholder="Tipo" (selectionChange)="changeParameter()">
                        <mat-option *ngFor="let type of types" [value]="type.code">{{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field style="flex: 1" appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="item.name" required matInput placeholder="Parámetro de retorno" (ngModelChange)="changeParameter()"/>
                </mat-form-field>
                
                <div *ngIf="last" class="button-container">
                    <button secondary mat-button (click)="removeInParameter()">-</button>&nbsp;&nbsp;<button primary mat-button (click)="addInParameter()">+</button>
                </div>
            </div>            
            <mat-error *ngIf="requiredEmpty">Existe algún parámetro que está vacío</mat-error>

        </div>

        <div class="column-container last">
            <mat-label>Código fuente</mat-label>
            <div class="app-ace-editor" #editor></div>
        </div>
    </div>
</div>