    
<div class="flex justify-content-between">
    <h1>Gestión de retos</h1>
    <p-button class="my-auto" (click)="editChallenge(null)" label="Crear reto"></p-button>
</div>

<div class="flex flex-column gap-3" style="height: calc(100vh - 202px); overflow: auto;">
    <p-card *ngFor="let challenge of challenges" styleClass="{{ statusChallenges[challenge.status.code] }}">
        <div class="flex justify-content-between">
            <div class="flex flex-column gap-2">
                <div>{{ challenge.name }}</div>
                <div class="flex flex-row gap-2">
                    <p-tag value="{{ challenge.person ? challenge.person.name + ' ' + challenge.person.lastname : 'Desconocido' }}"></p-tag>
                    <p-tag icon="pi pi-user" value="{{ challenge.distinctUsername }}"></p-tag>
                    <p-tag icon="pi pi-clock" value="{{ challenge.endDate ? (challenge.endDate | date: 'dd/MM/yyyy') : 'Sin fecha fin'}}"></p-tag>
                    <p-tag icon="pi pi-sync" value="{{ challenge.tries ? '∞' : '1' }}"></p-tag>
                    <ng-container *ngFor="let tag of challenge.tags"><p-tag value= "{{ tag.name }}"></p-tag></ng-container>
                </div>
            </div>
            <div class="flex align-items-center gap-1">
                <p-button *ngIf="challenge.status.code == 'CLO'" icon="pi pi-trash" styleClass="p-button-rounded p-button-outlined p-button-secondary"></p-button>
                <p-button *ngIf="challenge.status.code == 'CLO'" icon="pi pi-check-circle" styleClass="p-button-rounded p-button-outlined p-button-secondary"></p-button>
                <p-button *ngIf="challenge.status.code == 'PND'" icon="pi pi-ban" styleClass="p-button-rounded p-button-outlined p-button-secondary"></p-button>
                <p-button *ngIf="challenge.status.code == 'CLO'" (click)="editChallenge(challenge.id)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-outlined"></p-button>
                <p-button *ngIf="challenge.status.code == 'PND' || challenge.status.code == 'ACT'" icon="pi pi-eye" styleClass="p-button-rounded p-button-outlined"></p-button>
            </div>
        </div>
    </p-card>
</div>

