<div class="column-container" style="height: 100%">

    <h1>Resultados de la ejecución</h1>

    <div *ngIf="data.compileError == false">
        <mat-icon class="green">task_alt</mat-icon>&nbsp;
        <h3>La compilación ha sido correcta.</h3>
    </div>
    <div *ngIf="data.compileError == true">
        <mat-icon class="red">cancel</mat-icon>&nbsp;
        <h3>Existen errores en la compilación.</h3>
    </div>


    <div *ngIf="someTestFail() == false">
        <mat-icon class="green">task_alt</mat-icon>&nbsp;
        <h3>Todas las pruebas funcionan correctamente.</h3>
    </div>
    <div *ngIf="someTestFail() == true">
        <mat-icon class="red">cancel</mat-icon>&nbsp;
        <h3>Existen errores en alguna prueba. Revíselo antes de enviar el ejercicio.</h3>
    </div>    

    <h3><br/>Detalle de las pruebas:</h3>
    
    <div class="test-list-container">

        <mat-card *ngFor="let test of data.testExecutionResult" class="test-container mat-elevation-z0">
            
            <div class="test-title">
                <h3>Prueba: {{test.name}} </h3>
                <mat-icon *ngIf="test.performance == false" class="blue" matTooltip="Prueba de corrección">playlist_play</mat-icon>
                <mat-icon *ngIf="test.performance == true" class="blue" matTooltip="Prueba de rendimiento">rocket_launch</mat-icon>
                <mat-icon *ngIf="testFail(test) == true" class="red">cancel</mat-icon>
                <mat-icon *ngIf="testFail(test) == false" class="green">task_alt</mat-icon>                
            </div>
            
            <div class="test-info">
                <span>Entrada (separado por | )   : <i>{{test.inParameter}}</i></span>
                <span>Valor de salida esperado    : <i>{{test.outParameterExpected}}</i></span>
                <span>Valor de salida obtenido    : <i>{{test.outParameterActual}}</i></span>
                <span *ngIf="test.performance == true">Tiempo de ejecución esperado: <i>{{test.executionTimeExpected}} ms</i></span>
                <span *ngIf="test.performance == true">Tiempo de ejecución obtenido: <i>{{test.executionTimeActual}} ms</i></span>
                <span *ngIf="test.consoleOut != '' && test.consoleOut != null"><br/>Resultado de la consola<br/>{{test.consoleOut}}</span>
            </div>
            
        </mat-card>
    </div>

    <div class="button-container float-left">
        <button *ngIf="someTestFail() == false" primary mat-button (click)="close()">Cerrar</button>
        <button *ngIf="someTestFail() == true" testFail mat-button (click)="close()">Cerrar</button>
    </div>
</div>

