<div class="tab-container">

    <button primary mat-button (click)="editTest()">Añadir prueba</button>

    <div class="list-container">

        <div class="list-title">
            <h2>Pruebas visibles</h2>
        </div>

        <app-test-card *ngFor="let item of getVisibleTest()" [item]="item" (eventEmitter)="receiveEvent($event)"></app-test-card>

        <div class="list-title">
            <h2>Pruebas ocultas</h2>
        </div>

        <app-test-card *ngFor="let item of getNoVisibleTest()" [item]="item" (eventEmitter)="receiveEvent($event)"></app-test-card>

    </div>

</div>