<div class="flex flex-row justify-content-between" style="height:3.7rem">
    <div class="flex justify-content-start">
        <h1>
            Gestión Becarios
        </h1>
    </div>
</div>
<div class="flex flex-row justify-content-between">
    <div class="flex w-9rem h-2rem gap-2 border-round-2xl align-items-center mt-3" style="background-color:#e7edef">
        <div class="pl-3">
            <i class="pi pi-users text-xl text-primary"></i>
        </div>
        <div class="flex flex-row align-items-center gap-1">
            <p>{{internsLength}}</p>
            Personas
        </div>
    </div>
    <div class="flex justify-content-end ">

        <button pButton pRipple type="button" icon="pi pi-user-plus" class="p-button-lg m-2" pTooltip="Añadir becario"> </button>

        <button pButton pRipple type="button" icon="pi pi-download" class="p-button-lg m-2"
            (click)="exportExcel()" pTooltip="Descargar listado"></button>

        <button pButton pRipple type="button" icon=" pi pi-filter-slash" class="p-button-lg m-2" pTooltip="Limpiar filtros"
            (click)="cleanFilters(dt1)" >
        </button>
    </div>
</div>
<p-table #dt1 [style]="{'height': 'calc(100vh - 275px)', 'width': tableWidth}" [scrollable]="true"  selectionMode="single"  scrollHeight="flex"
    [value]="interns" styleClass="p-datatable-striped"  [(filters)]="defaultFilters" (onFilter)="onFilter($event)" sortField="endDate" sortMode="single" [sortOrder]="-1" >
    <ng-template pTemplate="header" >
        <tr>
            <th class="period" pSortableColumn="period">
                Periodo <p-sortIcon field="period"></p-sortIcon>
            </th>
            <th class="username" pSortableColumn="username">
                Username <p-sortIcon field="username"></p-sortIcon>
            </th>
            <th class="name" pSortableColumn="name">
                Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th class="lastname" pSortableColumn="lastname">
                Apellidos <p-sortIcon field="lastname"></p-sortIcon>
            </th>
            <th class="gender" pSortableColumn="gender">
                Genero <p-sortIcon field="gender"></p-sortIcon>
            </th>
            <th class="education" pSortableColumn="education.name">
                Titulacion <p-sortIcon field="education.name"></p-sortIcon>
            </th>
            <th class="educationCenter" pSortableColumn="educationCenter.name">
                Centro <p-sortIcon field="educationCenter.name"></p-sortIcon>
            </th>
            <th class="center" pSortableColumn="center.name">
                Oficina <p-sortIcon field="center.name"></p-sortIcon>
            </th>
            <th class="province" pSortableColumn="province.province">
                Localización <p-sortIcon field="province.province"></p-sortIcon>
            </th>
            <th class="startDate" pSortableColumn="startDate">
                Inicio <p-sortIcon field="startDate"></p-sortIcon>
            </th>
            <th class="endDate"pSortableColumn="endDate">
                Fin <p-sortIcon field="endDate"></p-sortIcon>
            </th>
            <th class="hours" pSortableColumn="hours">
                Horas <p-sortIcon field="hours"></p-sortIcon>
            </th>
            <th class="customer" pSortableColumn="customer">
                Cliente <p-sortIcon field="customer"></p-sortIcon>
            </th>
            <th class="code" pSortableColumn="code"> 
                Codigo <p-sortIcon field="code"></p-sortIcon>
            </th>
            <th class="technologies">
                Tecnologias 
            </th>
            <th class="englishLevel" pSortableColumn="englishLevel.name">
                Inglés <p-sortIcon field="englishLevel.name"></p-sortIcon>
            </th> 
            <th class="mentor" pSortableColumn="mentor">
                Mentor <p-sortIcon field="mentor"></p-sortIcon>
            </th>
            <th class="coordinator" pSortableColumn="coordinator">
                Coordinador <p-sortIcon field="coordinator"></p-sortIcon>
            </th>
            <th class="rrhh"pSortableColumn="hrManager">
                Resp. RRHH <p-sortIcon field="hrManager"></p-sortIcon>
            </th>
            <th class="action" pSortableColumn="action.name">
                Accion <p-sortIcon field="action.name"></p-sortIcon>
            </th>
            <th class="contractDate" pSortableColumn="contractDate">
                F.Contrato <p-sortIcon field="contractDate"></p-sortIcon>
            </th>
            <th class="active" pSortableColumn="active">
                Estado <p-sortIcon field="active"></p-sortIcon>
            </th>
            <th class="buttons">
            </th>
        </tr>
        <tr >
            <th class="period">
                <p-columnFilter class="w-full" type="text" field="period" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="username" >
                <p-columnFilter class="w-full" type="text" field="username" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="name" >
                <p-columnFilter class="w-full" type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="lastname" >
                <p-columnFilter class="w-full" type="text" field="lastname" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="gender" >
                <p-columnFilter class="w-full" field="gender" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="genders" optionLabel="label" optionValue="value" (onChange)="filter($event.value)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="education" >
                <p-columnFilter class="w-full" field="education.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="educations" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="educationCenter " >
                <p-columnFilter class="w-full" field="educationCenter.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="educationsCenter" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>  
            <th class="center " >
                <p-columnFilter class="w-full" field="center.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="centers" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="province" >
                <p-columnFilter class="w-full" field="province.province" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="provinces" optionLabel="province" (onChange)="filter($event.value?.province)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="startDate" >
                <p-columnFilter class="w-full" type="date" field="startDate" matchMode="dateIs" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <p-calendar  #filterCalendar appendTo="body"  [(ngModel)]="selectedDate" (onSelect)="filter($event)" (onClear)="filter($event)" [locale]="es" [firstDayOfWeek]="1" dateFormat="dd/mm/yy" [showClear]="true" placeholder=""></p-calendar>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="endDate" >
                <p-columnFilter class="w-full" type="date" field="endDate" matchMode="dateIs" [showMenu]="false" [showClearButton]="true">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <p-calendar #filterCalendar appendTo="body" (onSelect)="filter($event)"  [locale]="es" [firstDayOfWeek]="1" dateFormat="dd/mm/yy"></p-calendar>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="hours" >
                <p-columnFilter class="w-full" type="text" field="hours" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="customer" >
                <p-columnFilter class="w-full" type="text" field="customer" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="code" >
                <p-columnFilter class="w-full" type="text" field="code" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="technologies">
                <p-columnFilter class="w-full" field="technologies" matchMode="contains" [showMenu]="false" [showClearButton]="true">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="technologies" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                
            </th>
            <th class="englishLevel " >
                <p-columnFilter class="w-full" field="englishLevel.name" matchMode="equals" [showMenu]="false" [showClearButton]="true">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="englishLevels" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                    
                </p-columnFilter>
            </th>
            <th class="mentor" >
                <p-columnFilter class="w-full" type="text" field="mentor" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="coordinator" >
                <p-columnFilter class="w-full" type="text" field="coordinator" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="rrhh " >
                <p-columnFilter class="w-full" type="text" field="hrManager" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="action " >
                <p-columnFilter class="w-full" field="action.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="actions" optionLabel="name" (onChange)="filter($event.value?.name)"  [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="contractDate " >
                <p-columnFilter class="w-full" type="date" field="contractDate" matchMode="dateIs" [showMenu]="false" [showClearButton]="true">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <p-calendar #filterCalendar appendTo="body" (onSelect)="filter($event)" [locale]="es" [firstDayOfWeek]="1" dateFormat="dd/mm/yy"></p-calendar>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="active" >
                <p-columnFilter class="w-full" field="active" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [(ngModel)]="selectedActive" [options]="actives" optionLabel="label" optionValue="value" (onChange)="filter($event.value)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="buttons" >            
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-intern let-columns="columns">
        <tr [pSelectableRow]="intern">
           <td class="period">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.period}}" tooltipPosition="top">
                {{intern.period}}
            </div>
           </td>
           <td class="username">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.username}}" tooltipPosition="top">
                {{intern.username}}
            </div>
           </td>
           <td class="name" *ngIf="intern.name">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.name}}" tooltipPosition="top">
                {{intern.name}}
            </div>
           </td>
           <td class="lastname">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.lastname}}" tooltipPosition="top">
                {{intern.lastname}}
            </div>
           </td>
           <td class="gender">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{showGender(intern.gender)}}" tooltipPosition="top">
                {{showGender(intern.gender)}}
            </div>
           </td>
           <td class="education" *ngIf="intern.education">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.education.name}}" tooltipPosition="top">
                {{intern.education.name}}
            </div>
           </td>
           <td class="education" *ngIf="!intern.education">
           </td>
           <td class="educationCenter">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{'['+intern.educationCenter.type+'] '}}{{intern.educationCenter.name}}" tooltipPosition="top">
                {{'['+intern.educationCenter.type+'] '}}  
                {{intern.educationCenter.name}}
            </div>
           </td>
           <td class="center">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.center.name}}" tooltipPosition="top">
                {{intern.center.name}}
            </div>
           </td>
           <td class="province" *ngIf="intern.province">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.province.province}}" tooltipPosition="top">
                {{intern.province.province}}
            </div>
           </td>
           <td class="province" *ngIf="!intern.province"></td>
           <td class="startDate">
            {{intern.startDate | date:"dd/MM/yyyy" }}
           </td>
           <td class="endDate">
             {{intern.endDate | date:"dd/MM/yyyy"}}
           </td>
           <td class="hours ">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.hours}}" tooltipPosition="top">
                {{intern.hours}}
            </div>
           </td>
           <td class="customer">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.customer}}" tooltipPosition="top">
                {{intern.customer}}
            </div>
           </td>
           <td class="code">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.code}}" tooltipPosition="top">
                {{intern.code}}
            </div>
           </td>
           <td class="technologies">                 
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{showAllTech(intern.technologies)}}" tooltipPosition="top">
              {{showAllTech(intern.technologies)}}
            </div>
           </td>
           <td class="englishLevel" *ngIf="intern.englishLevel" >
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.englishLevel.name}}" tooltipPosition="top">
                {{intern.englishLevel.name}}
            </div>
           </td>
           <td class="englishLevel" *ngIf="!intern.englishLevel">
           </td>
           <td class="mentor">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.mentor}}" tooltipPosition="top">
                {{intern.mentor}}
            </div>
           </td>
           <td class="coordinator">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis"pTooltip="{{intern.coordinator}}" tooltipPosition="top">
                {{intern.coordinator}}
            </div>
           </td>
           <td class="rrhh">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.hrManager}}" tooltipPosition="top">
                {{intern.hrManager}}
            </div>
           </td>
           <td class="action" *ngIf="intern.action">
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{intern.action.name}}" tooltipPosition="top">
                {{intern.action.name}}
            </div>
           </td>
           <td class="action" *ngIf="!intern.action">
            </td>
           <td class="contractDate">
            {{intern.contractDate | date : "dd/MM/yyyy"}}
           </td>
           <td class="active" >
            <div class="white-space-nowrap overflow-hidden text-overflow-ellipsis" pTooltip="{{showActive(intern.active)}}" tooltipPosition="top">
                {{showActive(intern.active)}}
            </div>
           </td>
           <td class="buttons">
                <button pButton pRipple type="button" pTooltip="Link" tooltipPosition="top" *ngIf="intern.link == null || intern.link == ''" icon="pi pi-link" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="addCommentOrLink('Link',intern.link)" ></button>            
                <button pButton pRipple type="button" pTooltip="Link" tooltipPosition="top" *ngIf="intern.link != null " icon="pi pi-link" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addCommentOrLink('Link',intern.link)" ></button>
                <button pButton pRipple type="button" pTooltip="Comentario" tooltipPosition="top"  *ngIf="intern.comment == null || intern.comment == ''" icon="pi pi-comment" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="addCommentOrLink('Comentario',intern.comment)" ></button>            
                <button pButton pRipple type="button" pTooltip="Comentario" tooltipPosition="top" *ngIf="intern.comment != null " icon="pi pi-comment" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addCommentOrLink('Comentario',intern.comment)" ></button>
                <button pButton pRipple type="button" pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" class="p-button-rounded p-button-text w-2rem h-2rem" ></button>
                <button pButton pRipple type="button" pTooltip="Eliminar" tooltipPosition="top" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text w-2rem h-2rem" ></button>            
           </td>
        </tr>
    </ng-template>
</p-table>