@import 'primeflex/primeflex.scss';
.period{
    min-width: 110px;
    max-width: 110px;
}
.username{
    min-width: 200px;
    max-width: 200px;
}
.name{
    min-width:235px;
}
.lastname{
    min-width: 230px;
}
.gender{
    min-width: 190px;
    max-width: 190px;
}
.education{
    min-width: 200px;
}
.educationCenter{
    min-width: 200px;
}
.center{
    min-width: 230px;
}
.province{
    min-width: 200px;
}
.startDate{
    min-width: 200px;
}
.endDate{
    min-width: 200px;
}
.hours{
    min-width: 100px;
    max-width: 100px;
}
.customer{
    min-width: 230px;
}
.code{
    min-width: 130px;
    max-width: 130px;
}
.technologies{
    min-width: 230px;
}
.englishLevel{
    min-width: 230px;
}
.mentor{
    min-width: 230px;
}
.coordinator{
    min-width: 230px;
}
.rrhh{
    min-width: 200px;
}
.action{
    min-width: 200px;
}
.contractDate{
    min-width: 200px;
}
.active{
    min-width: 180px;
}
.buttons{
    min-width: 170px;
    max-width: 170px;
}