@import './src/assets/scss/master';


h1 {
    height: 50px;
}

.data-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .data-container-general {
        display: flex;
        flex-direction: row;
        height: 50px;
        column-gap: 15px;
        align-items: center;

        .name {
            flex: 1
        }

        .timeout {
            width: 100px;
        }

        .visible {
            width: 75px;
        }
    }
}

.button-container {
    height: 50px;
}