@import './src/assets/scss/master';

.header {
    height: 50px;
  }
  
.challengeList {
    flex: 1;
    margin-top: 5px;
    overflow: auto;

  
    .card-group {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 40px;
    }
  }