<div class="flex flex-row">
    <div class="flex flex-column gap-2" style="flex:1;">
        <div [formGroup]="filterForm" class="flex flex-row">
            <span class="p-float-label flex flex-1">
                <input pInputText [(ngModel)]="challenge.name" formControlName="name" field="field" required
                    [style]="{width: '89%'}">
                <label>Nombre del reto*</label>
            </span>
        </div>

        <div>
            <span class="p-float-label w-25rem">
                <p-dropdown [options]="listTags" optionLabel="name" appendTo="body" [showClear]="true"
                    formControlName="name" [style]="{width:'100%'}" (onChange)="onChangeTag($event)"></p-dropdown>
            </span>
        </div>

        <div>
            <p-table [value]="selectedTags" [style]="{width:'100%'}" [autoLayout]="true">
                <ng-template pTemplate="body" let-tag>
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td>
                            <button pButton icon="pi pi-trash" (click)="removeTag(tag)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <span class="field-checkbox">
            <p-checkbox labelStyleClass="cursor-pointer" [(ngModel)]="challenge.tries" [binary]="true" inputId="binary"
                label="Más de un intento"></p-checkbox>
        </span>
    </div>

</div>

<div style="flex:2;">
    <p-editor [(ngModel)]="challengeEdit.description" [style]="{ height: '380px'}"></p-editor>
</div>