<div class="flex justify-content-between">
    <div>
        <h1>Edición del Reto</h1>
    </div>
    <div class="align-self-center flex flex-row">
        <p-button class="mr-2" (click)="goBack()" label="Volver"
            styleClass="p-button-outlined p-button-primary"></p-button>
        <p-button class="mr-2" label="Guardar" styleClass="p-button-primary"></p-button>
    </div>
</div>

<div>
    <p-tabView>
        <p-tabPanel header="General">
            <div class="w-full flex flex-row pb-4">
                <div class="flex flex-1 flex-column gap-2">
                    <div class="flex flex-row gap-4">
                        <span class="p-float-label">
                            <input pInputText [(ngModel)]="challenge.name" formControlName="name" field="field" class="w-full">
                            <label>Nombre del reto*</label>
                        </span>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Código">

        </p-tabPanel>
        <p-tabPanel header="Pruebas">

        </p-tabPanel>
    </p-tabView>
</div>